footer{
    width: 100%;
    padding: 30px;
 
    .footer-top{
        display: flex;
        justify-content: center;
        align-items: center;
     
        .footer-top-img{
            width: 200px;
            height: 100px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
    .footer-middle{

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0px 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        
        @media screen and (max-width:960px) {
            padding: 0px 10px;
           
        } 
        .middle-item{
            max-width: 300px;
        }
        h2{
            font-size: 18px;
            color: #2f2f2f;
            margin-bottom: 20px;
            font-weight: 500;
        }
          
      p{
        font-size: 15px;
        line-height: 28px;
        color: #9a9a9a;
        max-width: 247px;
        }
        ul{
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
            span{
                font-size: 15px;
                line-height: 28px;
                color: #9a9a9a;
                cursor: pointer;
            }
        }
        
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        @media screen and (max-width:960px) {
            padding: 0px 10px;
            flex-direction: column;
            gap: 10px;
        }
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            
            p{
                font-size: 15px;
                line-height: 28px;
                color: #9a9a9a;
             
                }
            .icons{
                display: flex;
                gap: 10px;
            }
        }
        
    }
    
}